<!DOCTYPE html>
<html>

<head>
    <title>tts</title>
    <style>
        html,
        body {
            height: 100%
        }

        #container {
            display: flex;
            align-items: center;
            height: 100%;
            text-align: center;
        }

        #now_playing {
            width: 100%;
            font-family: sans-serif;
            font-weight: bold;
            color: #e96c4c;
            text-shadow: 0px 0px 4px black;
        }
    </style>

</head>

<body>
    <div id="container" class="container">
        <div id="now_playing"></div>
    </div>
    <ul style="display: block;" id="files"></ul>
    <script src="<%=sockets_prefix%>/socket.io/socket.io.js"></script>
    <script>
        // Fit text to viewport!
        // https://dev.to/jankapunkt/make-text-fit-it-s-parent-size-using-javascript-m40#fixed-height-fixed-width

        const isOverflown = ({
            clientHeight,
            scrollHeight
        }) => scrollHeight > clientHeight

        const resizeText = ({
            element,
            elements,
            minSize = 10,
            maxSize = 512,
            step = 1,
            unit = 'px'
        }) => {
            (elements || [element]).forEach(el => {
                let i = minSize
                let overflow = false
                const parent = el.parentNode
                while (!overflow && i < maxSize) {
                    el.style.fontSize = `${i}${unit}`
                    overflow = isOverflown(parent)
                    if (!overflow) i += step
                }
                // revert to last state where no overflow happened
                el.style.fontSize = `${i - step}${unit}`
            })
        }
    </script>
    <script>
        var socket = io('https://<%=sockets_host%>', {
            path: '<%=sockets_prefix%>/socket.io'
        });
        var files_list = document.getElementById("files");

        socket.on("new_tts", (msg) => {
            // A new tts audio file is available !
            msg = JSON.parse(msg);
            // Create audio tag, but play it at the end :
            // it might help with the beginning being cut off.
            var audio_tag = document.createElement('audio');
            var audio_source_tag = document.createElement('source');
            audio_source_tag.setAttribute('src', `<%=sockets_prefix%>/output_files/${msg.wav_filename}`);
            audio_source_tag.setAttribute('type', 'audio/wav');
            audio_tag.appendChild(audio_source_tag);
            var file_item = document.createElement('li');
            file_item.appendChild(audio_tag);

            // When audio is finished playing, remove the onscreen text.
            audio_tag.addEventListener('ended', function() {
                document.getElementById('now_playing').innerHTML = "";
            }, false);

            // Show text being spoken on screen
            var now_playing_element = document.getElementById('now_playing');
            now_playing_element.innerHTML = msg.text;
            files_list.appendChild(file_item);
            // Fit text to screen
            resizeText({
                elements: document.querySelectorAll('#now_playing'),
                step: 1
            });
            audio_tag.play();
        });
    </script>
</body>

</html>