html,
body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.particles .emoji_item {
    position: absolute;
    display: block;
    list-style: none;
    top: calc(100vh + 100px);
    font-family: "Noto Color Emoji";
}